.chat-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 30vw;
    height: 80dvh;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.user-name {
    font-size: 1.2rem;
}

.users-list {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    margin: 0.2rem;
}

.user-item {
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.main-chat {
    width: 70vw;
    height: 82.5dvh;
    border: 1px solid black;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-midnight-shift);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-y: auto;
    flex-grow: 1;
}

.input-area {
    padding: 0.1rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    overflow: visible;
    background-color: var(--color-midnight-shift);
}

.input-area input {
    margin: 0.25rem 0;
    border: 1px solid var(--color-midnight-shift);
    border: 0;
    background-color: transparent;
    height: 100%;
    font-size: large;
}

.input-area button {
    padding: 0.5rem;
    margin: 0.25rem 0;
    border: 1px solid var(--color-midnight-shift);
    border: 0;
    background-color: transparent;
    height: 100%;
}

.input-area button {
    cursor: pointer;
}


.emoji-picker {
    position: absolute;
    z-index: 1000;
    bottom: 60px;
    background-color: var(--color-neon-coral);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.emoji-btn {
    font-size: 20px;
    line-height: 1;
    border-radius: 50%;
    border: 1px solid var(--color-midnight-shift);
    background-color: var(--color-electric-lilac);
    display: flex;
    align-items: center;
    justify-content: center;
}

.emoji-picker button {
    font-size: 20px;
    line-height: 1;
}

.message-form {
    width: 100dvw;
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
    align-items: center;
    overflow: hidden;
}

.welcome-message {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 20em;
}

.welcome-description {
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: center;
    padding: 0 1rem;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.5;
}